<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Spring Boot Book Database</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
  </head>

  <body>
    <h2>Spring Boot Book Database</h2>
    <form method="POST" class="form-horizontal">
      <label for="title">Title:</label>
      <input type="text"  name="title"></input><br/>
      <label for="author">Author:</label>
      <input type="text"  name="author"></input><br/>
      <label for="genre">Genre:</label>
		<input type="text" name="genres"></input><br/>
      <input type="submit"></input>
    </form>

    <ul th:each="book : ${books}">
      <li>
        <span th:text="${book.bookId}">Id</span>
        <span th:text="${book.title}">Title</span>
        <span th:text="${book.author}">Author</span>
        
        
        <span th:each="genre : ${book.genres}">
	        <span th:text="${genre.description}">Genre</span>
        </span>
        <a th:href="@{|/delete/${book.bookId}|}">Delete</a>
      </li>
    </ul>
  </body>
</html>
